<script src="~/js/Login.js"></script>
<link href="~/css/Login.css" rel="stylesheet"/>

<div class="wrapper">
    <form action="" method="post" class="FORM">
        <div class="mb-2">
            <p style="text-align:center" class="h3">Login to your account</p>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">UserName</label>
            <input type="text" class="form-control" name="USERNAME" id="USERNAME" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="PASSWORD" id="PASSWORD" required>
        </div>
        <button type="button" class="btn btn-primary" id="submit">Submit</button>
    </form>
</div>

